# Directories and files below are to be ignored by Git #
pogo_data_generation/__pycache__
pogo_data_generation/pogoMatlab
pogo_data_generation/pogo_gen
pogo_data_generation/*.db
pogo_data_generation/*.log
pogo_data_generation/*.m
pogo_data_generation/*.pickle
pogo_data_generation/pogo_manual.pdf
speed_model/results
speed_model/cx1_result
speed_model/*.db
speed_model/*.pickle
shape_model/*.db
shape_model/*.pickle
shape_model/tensorboard
cx1_command
