# Directories and files below are to be ignored by Git #
pogo_data_generation/pogoMatlab
pogo_data_generation/pogo_gen
pogo_data_generation/database_circle.db
pogo_data_generation/pogo_manual.pdf
pogo_data_generation/get_hist_field_pogo.log
pogo_data_generation/cartimagesc.m
pogo_data_generation/genVaryingVelocity.m
pogo_data_generation/gen_varying_velocity.m
pogo_data_generation/viewField.m
pogo_data_generation/viewHist.m
pogo_data_generation/view_hist.m
pogo_data_generation/__pycache__
